<!DOCTYPE html>
<html>
  <head>
    <title>Protected Sites</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%; /* 16:9 aspect ratio for responsive video */
    }

    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <iframe class="responsive-iframe" src="https://gmit.maps.arcgis.com/apps/webappviewer/index.html?id=bd5c01079b494a5da7c8c12f6ba7f5da" frameborder="0"></iframe>
  </div>
</body>
</html>
